body {
  color: white;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.Hero {
  position: relative;
  z-index: 1;
  margin-top: 104px;
  margin-bottom: 104px;
}

.hero-top {
  display: flex;
  justify-content: center;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.hero-top span {
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 55px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: white;
  transition: 0.3s ease;
}

.hero-top span:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

.hero-text {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.hero-text h1 {
  font-size: 26px;
  letter-spacing: 1px;
  text-align: center;
  max-width: 1000px;
}

.text-span {
  color: #8c52ff;
}

.cta-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.cta-quote {
  background-color: #fff;
  color: #8c52ff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  width: 150px;
  padding: 13px 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 55px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  cursor: pointer;
}

.cta {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  width: 150px;
  padding: 13px 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 55px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
}

.cta:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

.cta-quote:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

#starCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

/* media query */
@media (max-width: 768px) {
  .Hero {
    margin-top: 56px;
    margin-bottom: 56px;
    padding: 0 16px;
    text-align: center;
  }

  .hero-top {
    flex-direction: column;
    align-items: center;
  }

  .hero-top span {
    font-size: 14px;
    padding: 8px 16px;
    margin-bottom: 8px;
  }

  .hero-text h1 {
    font-size: 18px;
    padding: 0 8px;
    letter-spacing: 0.5px;
    line-height: 1.4;
  }

  .cta-buttons {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 16px;
    padding: 0 8px;
  }

  .cta,
  .cta-quote {
    width: 100%;
    font-size: 15px;
     padding: 18px 0px;
  }
}
